@import "../../../assets/styles/_colors.scss";

.video-container {
  position: relative;
  width: 1856px;
  overflow: hidden;
}

.video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transform: scale(1.1);
  transition: transform 0.8s cubic-bezier(0.8, 0, 0.2, 1);
  transition-delay: 0.5s;

  &.animate {
    transform: scale(1);
  }
}

.controls {
  background-color: $background;
  opacity: 0.7;
  padding: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  border-radius: 12px;

  @media screen and (max-width: 576px) {
    top: 74%;
  }
}

button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}