<div class="video-container">
  <video #videoPlayer class="video" muted
    [class.animate]="animate()" 
    (timeupdate)="updateProgress()" 
    (loadedmetadata)="setDuration()">
    <source [src]="source()" type="video/mp4" />
  </video>

  <!-- Controls -->
  <div class="controls d-flex justify-content-center align-items-center">
    <button class="d-flex justify-content-center align-items-center" (click)="togglePlayPause()">
      @if (isPlaying) {
        <img width="15" height="15" src="icons/circle-pause-regular.svg" alt="Pause" />
      } @else {
        <img width="15" height="15" src="icons/circle-play-regular.svg" alt="Play" />
      }
    </button>

    <button class="d-flex justify-content-center align-items-center" (click)="toggleFullscreen()">
      <img width="15" height="15" src="icons/expand-solid.svg" alt="Play" />
    </button>
  </div>
</div>