<div class="global-container">
  <div class="video-screen" 
    [ngStyle]="{'margin-bottom': 192 - ((stickyContainer.offsetHeight - videoContainer.offsetHeight) / 2) + 'px'}"
    appIntersection
    appVisibleContainerPart 
    [partCount]="3"
    [threshold]="[0.3]"
    (visible)="onVisible($event, elements.video)"
    (part)="onPartVisible($event)"
    (transform)="onTransform($event)">
    <div class="sticky-container" #stickyContainer>
      <div class="video-container w-100" #videoContainer
        [class.animate]="visibleElement()" 
        [@rollIn]="visibleElement() ? 'visible' : 'hidden'">
        <app-video-player source="video/background-video.webm" [animate]="!!visibleElement()" />
        
        <div class="cards-container" 
          appCardTransform
          [transform]="transform()"
          [visibleCardIndex]="visibleCardIndex()">
          @for (card of cards; let i = $index; track i) {
            <div class="card-container text-white" 
              [ngClass]="'previous-' + (visibleCardIndex() - i)"
              [class.visible]="i <= visibleCardIndex()">
              <app-card [card]="card" />
            </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div 
    class="text-screen d-flex justify-content-center" 
    [class.visible]="visibleElement() === elements.text"
    appIntersection
    (visible)="onVisible($event, elements.text)">
    <p class="text-screen__text text-center" [@fadeInWords]="visibleElement() === elements.text ? 'start' : 'hidden'">
      @for (word of words; let i = $index; track i) {
        <span [class.text-gray]="i < 4">{{ word }} </span>
      }
    </p>
  </div>
</div>